*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.ban{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(82, 67, 67, 0.85),rgba(66, 57, 57, 0.85)),url(bg_5.jpg);
    background-size: cover;
    background-position: center;
}
.custo h1{
    color: rgb(139, 237, 188);
    font-size: 50px;
    margin-top: 0px;
    padding: 20px;
}
.bodyy{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 200px;
    width: 550px;
 
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
#p1{
    text-align: center;
    color: rgb(139, 237, 188);
    margin: 20px auto;
    font-family: bold 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 25px;
    padding: 10px;
}
.custo p{
    text-align: center;
    color: rgb(139, 237, 188);
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    font-weight: 100;
    line-height: 25px;
    padding: 10px;
}
input{
    width: 200px;
    height: 2px;
    padding: 15px 0;
    text-align: center;
    border: 2px solid rgb(139, 237, 188);
    background: transparent;
    font-size: 20px;
    color: rgb(139, 237, 188);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button{
    width: 150px;
    padding: 3px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid rgb(139, 237, 188);
    background: transparent;
    color: rgb(139, 237, 188);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

