
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	padding-top:0%;
	background-image: url(bg_inx.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }
  
  .topnav a.active {
    background-color: #cb7550;
    color: white;
  }
h1{
	padding:10px;
    margin-left:12%;
    text-decoration: none;
    color: rgb(1, 178, 89);
    font-size: 34px;
}
center{
    padding:10px;
    margin-left:5%;
    text-decoration: none;
    color: rgb(1, 178, 89);
    font-size: 27px;
}
.form-box
{
    width:380px;
	height:480px;

	position:relative;
	margin-left:13%;
    margin-top:0%;
	background:rgba(205, 128, 128, 0.13);
	padding:10px;
    overflow: hidden;
    border-radius: 30px;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	border-radius: 30px;
}


.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgb(1, 178, 89);
	outline:none;
	background: transparent;
	padding-bottom: 5%;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 30px 30px;
	background:rgb(1, 178, 89);
	border: 0;
	outline: none;
	border-radius: 30px;
}

#login
{
	left:50px;
}
#login input
{
	color:rgb(1, 178, 89);
	font-size:15;
}
